* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url('./assets/bg_dark_pattern.png');
}

p,
h1,
h2,
h3,
a {
  opacity: 66%;
}
a {
  color: unset;
  text-decoration: none;
}

.app {
  display: flex;
}
